
body{
    background-color: #EAF6F6;
}
h1{
    color:#66BFBF;
}
h3{
    color: #66BFBF;
}

.Seperator{
    border-style: dotted none none none;
    border-width: 10px;
    height: 0px;
    width: 7%;
    border-color: gray;
}
.palaniimg{
    border-radius: 100%;
}
.gautamimg:hover{
    background-image: "https://wallpaperaccess.com/full/1889293.jpg";
}
